extends ../partials/layout
include ../mixins/card
include ../mixins/nood-image

append config
  - var pageTitle = brand.name
  - var description = brand.description
  - var ogImagePath = `${baseURL}/assets/img/noods/${brand.picture.fileName}`

block body
  div.content.content-brand
    .header
      .cover
        +nood-image(brand.picture, brand.name, true)
      .profile-picture
        +nood-image(brand.picture, brand.name, true)
      .info
        h1= brand.name
        .stats
          .stat
            h1= rank
            span Noodstar Rank
          .stat
            h1= truncateNumber(numVideoViews)
            span Nood views
          .stat
            h1= truncateNumber(brand.subscribers)
            span Subscribers
    .info
      .description
        h3 Description
        p= brand.description
      .links
        h3 Links
        ul
          each site in brand.sites
            li
              a(href=site.url)
                img.icon(src=`${baseURL}/assets/icons/link.svg`)
                | #{site.name}
      .about
        h3 About
        ul
          each value, key in brand.attributes
            li
              span.bold #{key}:
              span= value
    .videos
      .title Noods Featuring #{brand.name}
      ul.card-grid
        each entry in videos
          +card(entry)
