extends ../partials/layout

append config
  - var pageTitle = entry.title

mixin roundedStat(stat)
  span= typeof stat === "number" && stat > 1000 ? `${Math.round(stat / 1000)}K` : stat

block body
  div.content
    br
    .video-content
      .mock-video
        - var imgPath = `${baseURL}/assets/img/noods/${entry.picture.fileName}`
        img(src=imgPath, alt=entry.title, class={ "inverted": entry.picture.invert })
        .play-button
          .play-icon
      .video-info
        .title #{entry.title}
        .stats-row
          .stats #{entry.stats.views} views | #{Math.round(100 * (entry.stats.likes / (entry.stats.likes + entry.stats.dislikes)))}% | #{entry.stats.uploadTime}
          .stats-iteractions
            .likes 
              +roundedStat(entry.stats.likes)
            .dislikes
              +roundedStat(entry.stats.dislikes)
