extends ../partials/layout

append config
  - var pageTitle = entry.title

block body
  div.content
    br
    .mock-video
      - var imgPath = `${baseURL}/assets/img/noods/${entry.picture.fileName}`
      img(src=imgPath, alt=entry.title, class={ "inverted": entry.picture.invert })
      .play-button
        .play-icon
    h1.title #{entry.title}

