extends ../partials/layout

append config
  - var pageTitle = entry.title

mixin roundedStat(stat)
  span= typeof stat === "number" && stat > 1000 ? `${Math.round(stat / 1000)}K` : stat

block body
  div.content
    br
    .video-content
      .mock-video
        - var imgPath = `${baseURL}/assets/img/noods/${entry.picture.fileName}`
        img(src=imgPath, alt=entry.title, class={ "inverted": entry.picture.invert })
        .play-button.pseudo-interactive
          .play-icon
      .video-info
        .title #{entry.title}
        .stats-row
          .stats #{entry.stats.views} views | #{Math.round(100 * (entry.stats.likes / (entry.stats.likes + entry.stats.dislikes)))}% | #{entry.stats.uploadTime}
          .stats-iteractions
            .likes.pseudo-interactive
              img.icon(src=`${baseURL}/assets/icons/thumbs-up.svg`)
              +roundedStat(entry.stats.likes)
            .dislikes.pseudo-interactive
              img.icon(src=`${baseURL}/assets/icons/thumbs-down.svg`)
              +roundedStat(entry.stats.dislikes)
            .favorites.pseudo-interactive
              img.icon(src=`${baseURL}/assets/icons/heart.svg`)
              +roundedStat(entry.stats.favorites)
            .add.pseudo-interactive
              img.icon(src=`${baseURL}/assets/icons/add.svg`)
              span Add
            .fast-forward.pseudo-interactive
              img.icon(src=`${baseURL}/assets/icons/fast-forward.svg`)
              span Forward to
            .report.pseudo-interactive
              img.icon(src=`${baseURL}/assets/icons/flag.svg`)
              span Report
      .divider
      .brand-info
        - var url = `${baseURL}/brand/${brandSlugs[entry.brand]}`
        a.color-inherit(href=url)= entry.brand
