extends ../partials/layout

append config
  - var pageTitle = entry.title

block body
  div.content
    br
    .mock-video
      - var imgPath = `${baseURL}/assets/img/noods/${entry.picture.fileName}`
      img(src=imgPath, alt=entry.title, class={ "inverted": entry.picture.invert })
      .play-button
        .play-icon
    .video-info
      .title #{entry.title}
      .stats #{entry.views} views | 80% | 1 month ago

