include ./entry-image

mixin card(entry, horizontal)
  - const entryURL = `${baseURL}/view/${entry.slug}`
  li.card(class={"card-horizontal": horizontal})
    a(href=entryURL)
      div.card-image-wrapper.loadable
        +entry-image(entry)
    .card-info
      div.card-title
        a(href=entryURL)= entry.title
      div
        - const brandUrl = `${baseURL}/brand/${entry.brandSlug}`
        a.color-inherit(href=brandUrl)= brands[entry.brandSlug].name
      div
        span #{truncateNumber(entry.stats.views)} views
        span(style="margin-left:8px")= Math.round(100 * (entry.stats.likes / (entry.stats.likes + entry.stats.dislikes))) + "%" 
