mixin nood-image(picture, alt, type="min")
  - const imgPath = `${baseURL}/assets/img/noods/${picture.fileName}`
  - const profileImgPath = `${baseURL}/assets/img/noods/profile/${picture.fileName}`
  - const minImgPath = `${baseURL}/assets/img/noods/min/${picture.fileName}`
  - const src = type === "min" ? minImgPath : type === "profile" ? profileImgPath : imgPath
  img.nood-image(src=src alt=picture.title class={ "inverted": picture.invert })
