mixin nood-image(picture, alt)
  - const imgPath = `${baseURL}/assets/img/noods/${picture.fileName}`
  - const minImgPath = `${baseURL}/assets/img/noods/min/${picture.fileName}`
  img.nood-image(src=minImgPath, alt=picture.title, class={ "inverted": picture.invert }, srcset=`${minImgPath}, ${imgPath}`)
