extends ./partials/layout
include ./mixins/card

append config
  - var pageTitle = "Categories"
  - var description = "Discover what category of spicy noods suits your fancy. Taste a little bit, or all, of the world's leading free noods site."

block body
  div.content.content-categories
    h1.title Categories
    ul.card-grid
      each sample in sampleCategories
        - const entry = entries[sample.entrySlug]
        - const categoryURL = `${baseURL}/category/${sample.categorySlug}`
        li.card
          a(href=categoryURL)
            div.card-image-wrapper
              +nood-image(entry.picture, entry.title, "min")
            .category-overlay
            .category-info
              h2= categories[sample.categorySlug].name
              p= sample.numVideos + " videos"
