extends ./partials/layout

append config
  - var pageTitle = "Home"

block body
  div.content
    each section in sections
      h1.title= section.title
      ul.card-grid
        each entry in section.entries
          - var entryURL = `${baseURL}/view/${entry.id}`
          li.card
            a(href=entryURL)
              div.card-image-wrapper
                - var imgPath = `${baseURL}/assets/img/noods/${entry.picture.fileName}`
                - var minImgPath = `${baseURL}/assets/img/noods/min/${entry.picture.fileName}`
                img(src=minImgPath, alt=entry.title, class={ "inverted": entry.picture.invert }, srcset=`${minImgPath}, ${imgPath}`)
            div.card-title
              a(href=entryURL)= entry.title
            div
              - var url = `${baseURL}/make/${makeSlugs[entry.make]}`
              a.color-inherit(href=url)= entry.make
            div
              span= entry.stats.views + " views"
              span(style="margin-left:8px")= Math.round(100 * (entry.stats.likes / (entry.stats.likes + entry.stats.dislikes))) + "%" 
