doctype xml

urlset(
  xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd"
)
  each path, index in routes
    url
      loc= baseURL + path
      if path === "/index"
        loc= baseURL
        priority= "1.00"
      else
        priority= "0.80"
      lastmod= new Date().toISOString()
