mixin footerLinksList(links)
  ul
    each link in links
      li
        - var qualifiedURL = link.path.startsWith("/") ? `${baseURL}${link.path}` : link.path
        a(href=qualifiedURL)= link.name

#footer
  .content
    .footer-block
      h3 Information
      - 
        var links = [
          {path: "/sitemap", name: "Sitemap"},
          {path: "/information/terms-and-conditions", name: "Terms & Conditions"},
          {path: "/information/privacy-policy", name: "Privacy Policy"},
          {path: "/information/dmca", name: "DMCA"},
        ]
      +footerLinksList(links)
    .footer-block
      h3 Support
      - 
        var links = [
          {path: "/information/faq", name: "FAQ"},
          {path: "https://github.com/Abbondanzo/noodles/issues", name: "Contact Support"},
          {path: "https://github.com/Abbondanzo/noodles/issues/new?assignees=&labels=&template=feature_request.yml", name: "Feedback"},
          {path: "/information/parental-controls", name: "Parental Controls"},
        ]
      +footerLinksList(links)
    .footer-block
      h3 Discover
      ul
        li 
          span#enable-visually-impaired Visually Impaired
        li
          a(href="https://www.loveandlemons.com/homemade-pasta-recipe/") Premium Noods
        li
          a(href="https://www.wholefoodsmarket.com/search?text=Pasta") Shop
        li
          a(href="https://github.com/Abbondanzo/noodles") GitHub
.post-footer.content
  .copyright Not &copy; Nood.pictures #{new Date().getFullYear()}

#interactive-modal
  .modal-content
    h1 That's a spicy meat-a-ball!
    p We didn't have enough money in the budget to make this a real website. Instead, pretend that what you just clicked on was a real interaction. Maybe it was a like on an image or hitting that fake play button. Queue the sounds of someone #[i really] enjoying their noodles. *slurp*
    button#close-modal Close

tooltip#disable-visually-impaired.hidden Disable Visually Impaired Mode

script(src=`${baseURL}/assets/scripts/braille.js`)
script(src=`${baseURL}/assets/scripts/interactive.js`)
