include meta-head

navbar#navbar
  .content
    .flex-container
      .logo
        a(href=`${baseURL}/`)
          include nood-logo.svg
      .links
        a(href=`${baseURL}/`)
          .link#home Home
        a(href=`${baseURL}/categories`)
          .link#categories Categories
        a(href=`${baseURL}/live-cams`) 
          .link#live-cams Live Cams
        a(href=`${baseURL}/noodstars`)
          .link#noodstars Noodstars
        a(href=`${baseURL}/community`)
          .link#community Community
        a(href=`${baseURL}/photos`)
          .link#photos Photos &amp; GIFS
      .cta
        a(href="#") Upload
