- var title = `${pageTitle ? `${pageTitle} | ` : ''} Nood Pictures`

title=title
meta(name="description" content=description)
link(rel="stylesheet" type="text/css" href=`${baseURL}/styles/main.css`)
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="theme-color" content="#000000")
meta(charset="utf-8")
link(rel="apple-touch-icon" sizes="180x180" href=`${baseURL}/assets/img/apple-touch-icon.png`)
link(rel="icon" type="image/png" sizes="32x32" href=`${baseURL}/assets/img/favicon-32x32.png`)
link(rel="icon" type="image/png" sizes="16x16" href=`${baseURL}/assets/img/favicon-16x16.png`)
link(rel="shortcut icon" href=`${baseURL}/assets/img/favicon.ico`)
meta(name="msapplication-TileColor" content="#000000")
meta(name="msapplication-config" content=`${baseURL}/assets/img/browserconfig.xml`)
meta(property="og:image" content=`${baseURL}${ogImagePath}`)
meta(property="og:image:alt" content="Spicy noods")
meta(property="og:title" content=title)
meta(property="og:type" content="website")
meta(property="og:description" content=description)
meta(property="og:site_name" content="Nood Pictures")
