- 
  const pages = [
    {path: "/", name: "Home"},
    {path: "/categories", name: "Categories"},
    {path: "/noodstars", name: "Noodstars"},
    {path: "/community", name: "Community"},
  ]
- const uploadURL = "https://github.com/Abbondanzo/noodles/tree/master/data#how-to-add-data"

navbar#navbar
  .content
    .flex-container
      .logo
        a(href=`${baseURL}/`)
          include nood-logo.svg
      .links
        each page in pages
          a(href=`${baseURL}${page.path}`)
            .link(class={ "active": page.name === pageTitle })= page.name
      .cta
        a(href=uploadURL) Upload

      .mobile
        input#toggle(type="checkbox")
        label.button(for="toggle")
          span

        ul.mobile-links          
          each page in pages
            a(href=`${baseURL}${page.path}`)
              li.mobile-link(class={ "active": page.name === pageTitle })= page.name


          a(href=uploadURL) 
            .cta Upload
